.offer-section {
  background: black;
  color: white;
}

.offer-title {
  background: #d0ff00;

  padding: 40px 5%;
}

.offer-title h2 {
  color: black;

  font-size: 5rem;
  font-weight: 900;
}

.offer-image {
  width: 100%;
  display: block;

  padding: 80px 5%;
}

.offer-description {
  padding: 0 5% 80px;

  font-size: 2rem;

  line-height: 1.4;

  max-width: 1200px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .offer-title h2 {
    font-size: 3rem;
  }

  .offer-description {
    font-size: 1.3rem;
  }
}